a {
    color: $color-red;
}

a:hover {
    color: $color-red;
}

$section-border-width: 3px;

.-loading {
    @extend .-dark-purple;
    @extend .-text-yellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
