a {
    color: $color-red;
}

a:hover {
    color: $color-red;
}

$section-border-width: 3px;

.-loading {
    @extend .-dark-purple;
    @extend .-text-yellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    img {
        max-width: 100%;
    }
}

.-box {
    @extend .-yellow-light;
    @extend .p-3;
    border: $section-border-width solid $color-yellow;

    input[type=button] {
        @extend .-red;
        @extend .text-white;
    }
}

.tooltip-inner {
    max-width: 350px;
}
