.-channel-list {
    @extend .-purple;
    border-right: $section-border-width solid $color-purple-sub;

    .-current-group-name {
        @extend .h3;
        @extend .text-left;
        color: $color-yellow;
    }
}

.-channel-button {
    font-size: 1.2em;
    font-weight: bold;
    color: $color-yellow;

    .-name {
        cursor: pointer;
        text-decoration: underline;
    }
}

.-channel-button:hover {
    color: $color-yellow-sub; 
}

.-add-channel-button {
    font-size: 0.8em;
    color: $color-yellow;
    cursor: pointer;
    text-decoration: underline;
}

.-add-channel-button:hover {
    color: $color-yellow-sub;
}

.-rename-group {
    @extend .ml-2;
}
