.-channel-list {
    @extend .-purple;
    border-right: $section-border-width solid $color-purple-sub;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;

    .-current-group-name {
        @extend .h3;
        @extend .text-left;
        color: $color-yellow;
    }
}

.-current-group-name-holder {
    @extend .p-1;
    @extend .mb-3;
}

.-channel-button {
    @extend .p-1;
    @extend .pl-2;
    @extend .pr-2;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: $color-yellow;

    .-name {
        cursor: pointer;
        text-decoration: underline;
    }
}

.-channel-button:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.-channel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.-add-channel-button {
    @extend .p-1;
    @extend .mt-3;
    font-size: 0.8em;
    color: $color-yellow;
    cursor: pointer;
    text-decoration: underline;
}

.-add-channel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.-rename-group {
    @extend .ml-2;
}
