.-group-list {
    @extend .-dark-purple;
    border-right: $section-border-width solid $color-dark-purple-sub;
}

.-group-button {
    @extend .-dark-purple-sub;
    @extend .p-1;
    @extend .m-1;
    @extend .mt-4;
    @extend .mb-4;
    font-size: 2.8em;
    font-weight: bolder;
    color: $color-orange;
    cursor: pointer;
    border: 1px solid $color-orange-sub;
}

.-group-button:hover {
    @extend .-dark-purple;  
}
