.-current-channel-name {
    font-weight: bold;
}

.-message-list-content {
    @extend .pb-2;
    border-bottom: $section-border-width solid $color-yellow;
}

.-message-date {
    font-size: 0.8em;
    font-weight: bold;
    color: $color-purple-light;
}

.-message-person {
    border-top: 0.5px dashed $color-purple-light;
    font-size: 0.8em;
    font-weight: bolder;
    color: $color-dark-purple;
}

.-message-time {
    font-size: 0.7em;
    font-family: monospace;
    color: $color-purple-light;
    padding-right: 10px;
}

.-message-text.-meta {
    font-size: 0.8em;
    color: #aaa;
    font-style: italic;
}

.-new-message {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.-channel-member-list-section {
    font-size: 0.8em;
    font-weight: bold;
}

.-channel-member-list a {
    color: #fff;
    font-size: 0.8em;
}

.-input-area {
    @extend .-yellow-light;
}
