.-person-tooltip {
    @extend .p-1;
    @extend .text-left;

    div {
        @extend .p-1;
    }

    .-full-name-holder {
        @extend .h4;
        white-space: nowrap;
    }

    .-username {
        white-space: nowrap;
    }

    .-not-found {
        @extend .-text-red;
        font-size: 0.9em;
    }

    .-non-user {
        @extend .-text-yellow;
        font-size: 0.9em;
    }

    .-profile-pic {
        @extend .pr-1;
        height: 1em;
        border-radius: 50%;
    }
}
