.-welcome {
    .-box {
        input {
            width: 100%;
            height: 100%;
        }

        input[type=text] {
            @extend .-text-red;
            font-weight: bold;
        }

        .oi {
            @extend .-text-red;
            font-size: 2em;
        }
    }

    .-welcome-groups-list {
        a {
            @extend .-text-red;
            @extend .h5;
            @extend .ml-2;
            display: inline-block;
        }

        a:after {
            color: #000;
            content: ", ";
        }

        a:last-child:after {
            content: "";
        }
    }
}
