.-welcome {
    .-box {
        @extend .-yellow-light;
        @extend .p-3;
        border: $section-border-width solid $color-yellow;

        input {
            width: 100%;
            height: 100%;
        }

        input[type=text] {
            @extend .-text-red;
            font-weight: bold;
        }

        input[type=button] {
            @extend .text-white;
        }

        .oi {
            @extend .-text-red;
            font-size: 2em;
        }
    }
}
