<?xml version='1.0' encoding='utf-8'?>
<widget id="io.blockslack.app" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>blockslack</name>
    <description>
        Chat for small teams — encrypted and decentralized.
    </description>
    <author email="me@djnicholson.com" href="http://blockslack.io">
        Consensus Solutions LLC
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="https://blockslack.io/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="https://github.com/apache/cordova-plugin-whitelist.git" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <universal-links>
        <host name="blockslack.io" scheme="https" />
        <ios-team-id value="JSPN299V87" />
    </universal-links>
    <plugin name="cordova-universal-links-plugin-fixed" spec="1.2.1" />
    <engine name="android" spec="7.1.4" />
    <engine name="ios" spec="4.5.5" />
    <engine name="osx" spec="4.0.2" />
</widget>
