files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/61_change_nginx_websockets.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      echo "**** Making websockets work ****"
      sudo sed -i '/\s*proxy_set_header\s*Connection/c \
              proxy_set_header Upgrade $http_upgrade;\
              proxy_set_header Connection "upgrade";\
          ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
      echo "*** Done; new file: ***"
      cat /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
      echo "*** End ***"
